@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.label {
    -fx-font-family: "Plairfair Display" , serif;
    -fx-font-size: 24px;
    -fx-text-fill: rgb(182, 86, 8);
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-margin: 10px;
    -fx-text-alignment: center;
    -fx-text-stroke: white 5px;

}

.root {
    -fx-background-image: url("background.png");
    -fx-webkit-border-radius: 10px;
    -fx-moz-border-radius: 10px;
    -fx-border-radius: 50px;
    -fx-width: 100%;
    -fx-height: 100%;
    -fx-border: none;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-height: bold;
}

.text-field {
    -fx-font-family: "Inter Tight", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #111;
    -fx-text-fill: white;
    -fx-border-color: #111;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
}

.text-area {
    -fx-font-family: "Poppins",;
    -fx-font-size: 16px;
    -fx-background-image: url("field.png");
    -fx-background-size: cover;
    -fx-background-repeat: repeat;
    -fx-text-fill: black;
    -fx-border-color: #111;
    -fx-font-size: 16px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 12px;
    -fx-padding: 10px;
    -fx-text-alignment: center;
    -fx-font-weight: normal;
}

.glow-on-hover {
    -fx-min-width: 220px;
    -fx-min-height: 50px;
    -fx-background-color: #111;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.glow-on-hover:pressed {
    -fx-text-fill: black;
    -fx-background-color: #414141;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.glow-on-hover:hover {
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, 
                    #f5f5f5, #ffffff, #ffffff, #ffffff, 
                    #ffffff, #ffffff, #ffffff, #f7f7f7, #ffffff);
    -fx-effect: dropshadow(gaussian, black, 15, 0.7, 0, 0);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}